<div class="conversation-section">

    <div class="conversation-header">
        <div class="conversation-user">
            <div class="user-photo"><img src="../../../img/erkan.jpg"></div>
            <div class="user-name">Erkan Öğümsöğütlü</div>
        </div>
        <div class="conversation-search">
            <input type="text" placeholder="Arama Yap">
        </div>
        <div class="close-chat-app">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>

    <div class="conversation-body">
        <div class="conversation-body-inner">

            <div class="beginning-of-conversation">
                This is the beginning of the conversation
            </div>

            <div class="conversation-block clearfix">

                <div class="conversation-actions">
                    <div class="action">Edit</div>
                    <div class="action">Delete</div>
                </div>

                <div class="user-photo">
                    <img src="../../../img/erkan.jpg">
                </div>
                <div class="user-message">
                    <div class="message-header clearfix">
                        <div class="user-name">Erkan Öğümsöğütlü</div>
                        <div class="message-time">13:16</div>
                    </div>
                    <div class="message-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus mauris.
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="conversation-footer">

        <textarea placeholder="Mesajını buraya yaz..."></textarea>
        <div class="add-attachment">
            <span class="glyphicon glyphicon-file"></span>
            <span class="glyphicon glyphicon-picture"></span>
        </div>

    </div>

</div>