<select ng-model="selection" ng-options="item for item in items">
</select>
<div ng-switch on="selection">
    <div ng-app="ulakbus.dashboard" class="dashboard academician-dashboard">
        <div class="starter-template">
            <div ng-switch-default="student">
                <ng-include src="'components/uitemplates/student.html'"></ng-include>
            </div>
            <div ng-switch-when="staff">
                <ng-include src="'components/uitemplates/staff.html'"></ng-include>
            </div>
            <div ng-switch-when="academician">
                <ng-include src="'components/uitemplates/academician.html'"></ng-include>
            </div>
        </div>
    </div>
</div>