<div ng-app="ulakbus.personelinfo">
    <div class="starter-template">
        
        <div class="personnel-info-container">
        	<div class="personnel-info-left">
            	<div class="generic-profile-picture">
                	<img src="../../img/sample-profile-pic.jpg" />
                </div>
                <ul>
                	<li>Gökhan Boranalp</li>
                    <li>Pozisyon</li>
                	<li><i class="fa fa-phone"></i> (+90) 123 456 7890</li>
                    <li><i class="fa fa-envelope"></i> samplemail@mail.com</li>
                    <li><i class="fa fa-map-marker"></i> Gülbahçe Mah. İzmir Teknoloji Geliştirme Bölgesi A9 Blok 215/A IYTE Campus, URLA/IZMIR</li></li>
                </ul>
            </div>
            <!-- end of personnel-info-left -->
        	<div class="personnel-info-right">
                <div class="info-block">
                	<div class="info-block-header">
                    	<h2>Kişisel Bilgiler</h2>
                    </div>
                    <!-- end of info-block-header -->
                    <div class="info-block-body">
                    	<dl class="dl-horizontal">
                            <dt>Ad Soyad</dt>
                            <dd>Gökhan Boranalp</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Cinsiyet</dt>
                            <dd>Erkek</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Doğum Tarihi</dt>
                            <dd>23/06/1970</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>İkamet Adresi</dt>
                            <dd>Gülbahçe Mah. İzmir Teknoloji Geliştirme Bölgesi A9 Blok 215/A IYTE Campus, URLA/IZMIR</dd>
                        </dl>
                    </div>
                    <!-- end of info-block-body -->
                </div>
                <!-- end of info block -->
                
                <div class="info-block">
                	<div class="info-block-header">
                    	<h2>İletişim Bilgileri</h2>
                    </div>
                    <!-- end of info-block-header -->
                    <div class="info-block-body">
                    	<dl class="dl-horizontal">
                            <dt>Ev Telefonu</dt>
                            <dd>-</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Cep Telefonu</dt>
                            <dd>(+90) 123 456 7890</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Mail Adresi</dt>
                            <dd>gokhan@zetaops.io</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Diğer Mail Adresi</dt>
                            <dd>-</dd>
                        </dl>
                    </div>
                    <!-- end of info-block-body -->
                </div>
                <!-- end of info block -->
            </div>
            <!-- personnel-info-left -->
        </div>
        <!-- end of personnel-info-container -->


    </div>
</div>