<div class="starter-template container">

    <div class="personnel-info-container">
        <div class="personnel-info-left">

            <!--<div class="generic-profile-picture">-->
            <!--<img src="../../img/sample-profile-pic.jpg" />-->
            <!--</div>-->
            <div class="info-block">
                <div class="info-block-header">
                    <h1>{{model}}</h1>
                </div>
                <!-- end of info-block-header -->
                <div class="info-block-body" ng-repeat="(key, value) in object">
                    <dl class="dl-horizontal">
                        <dt>{{ key }}</dt>
                        <dd>{{value}}</dd>
                    </dl>
                </div>
                <!-- end of info-block-body -->
            </div>
            <!--<ul>-->
            <!--<li ng-repeat="(key, value) in object"><span class="col-md-3">{{ key }}:</span>{{value}}</li>-->
            <!--<li>Pozisyon</li>-->
            <!--<li><i class="fa fa-phone"></i> (+90) 123 456 7890</li>-->
            <!--<li><i class="fa fa-envelope"></i> samplemail@mail.com</li>-->
            <!--<li><i class="fa fa-map-marker"></i> Gülbahçe Mah. İzmir Teknoloji Geliştirme Bölgesi A9 Blok 215/A IYTE Campus, URLA/IZMIR</li></li>-->
            <!--</ul>-->
        </div>
        <!-- end of personnel-info-left -->
        <div class="personnel-info-right">
            <div class="info-block" ng-repeat="(key, value) in listobjects">
                <div class="info-block-header">
                    <h2>{{key}}</h2>
                </div>
                <!-- end of info-block-header -->
                <div class="info-block-body" ng-repeat="(k, v) in value">
                    <dl class="dl-horizontal">
                        <dt>{{k}}</dt>
                        <dd>{{v}}</dd>
                    </dl>
                </div>
                <!-- end of info-block-body -->
            </div>
            <!-- end of info block -->
            <!-- end of info block -->
        </div>
        <!-- personnel-info-left -->
    </div>
    <!-- end of personnel-info-container -->
</div>