<div ng-app="ulakbus.dashboard" class="dashboard academician-dashboard">
    <div class="starter-template">

<!--        <div class="row">
        	<div class="col-sm-12 generic-search">
            	<div class="panel panel-default">
                	<div class="search-box-wrapper">
                    	<span class="glyphicon glyphicon-search"></span>
                    	<input type="text" placeholder="Search">
                    </div>
                    &lt;!&ndash; end of search-box-wrapper &ndash;&gt;
                    <div class="search-results">
                    	<ul>
                        	<li class="result-box">
                            	<a class="clearfix">
                            		<div class="pull-left"><img src="../../img/sample-profile-pic.jpg" class="profile-pic"></div>
                                    <div class="pull-left user-info">
                                    	<div class="name">James Bolton<span uib-tooltip="Student No" tooltip-placement="right">1807452</span></div>
                                        <div class="unit"><span>Eğitim Fakültesi</span> / Bilgisayar ve Öğretim Teknolojileri Eğitimi Bölümü</div>
                                        <div class="number"><span>TC. NO:</span> 01454197872</div>
                                    </div>
                            	</a>
                            </li>
                            &lt;!&ndash; end of result-box &ndash;&gt;
                            <li class="result-box">
                            	<a class="clearfix">
                            		<div class="pull-left"><img src="../../img/sibel.jpg" class="profile-pic"></div>
                                    <div class="pull-left user-info">
                                    	<div class="name">Sibel Demir<span uib-tooltip="Sicil No" tooltip-placement="right">135649849</span></div>
                                        <div class="unit"><span>Personel İşleri Dairesi</span></div>
                                        <div class="number"><span>TC. NO:</span> 25458287992</div>
                                    </div>
                            	</a>
                            </li>
                            &lt;!&ndash; end of result-box &ndash;&gt;
                            <li class="result-box">
                            	<a class="clearfix">
                            		<div class="pull-left"><img src="../../img/empty-profile-pic.jpg" class="profile-pic"></div>
                                    <div class="pull-left user-info">
                                    	<div class="name">Scott Furry<span uib-tooltip="Student No" tooltip-placement="right">6549814</span></div>
                                        <div class="unit"><span>Mühendislik Fakültesi</span>/Bilgisayar Mühendisliği</div>
                                        <div class="number"><span>TC. NO:</span> 45879852021</div>
                                    </div>
                            	</a>
                            </li>
                            &lt;!&ndash; end of result-box &ndash;&gt;
                        </ul>
                    </div>
                    &lt;!&ndash; end of search-results &ndash;&gt;
                </div>
                &lt;!&ndash; end of panel &ndash;&gt;
            </div>
            &lt;!&ndash; end of generic-search &ndash;&gt;
        </div>-->

        <!-- end of row -->
        
        <!-- STUDENT ASSIGNMENTS -->
        <div class="row">
            <user-tasks class="col-sm-12"></user-tasks>
            <!-- END OF STUDENT ASSIGNMENTS -->
        </div>
        <!-- end of row -->


        <!--<academic-calendar></academic-calendar>-->
        <ng-include src="'components/dashboard/user-templates/student.html'" ng-if="$root.current_user.is_student"></ng-include>
        <ng-include src="'components/dashboard/user-templates/staff.html'" ng-if="!$root.current_user.is_student"></ng-include>
        <ng-include src="'components/dashboard/user-templates/academician.html'" ng-if="$root.current_user.is_staff && $root.current_user.is_academic"></ng-include>

    </div>
</div>
