<div ng-app="ulakbus.auth" class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Giriş Yap <span ng-if="loggingIn" class="loader pull-right"></span></h3>
                </div>
                <div class="panel-body">
                    <span class="label label-warning">{{message}}</span>
                    <form name="loginForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(loginForm)"></form>
                </div>
            </div>
        </div>
    </div>
</div>