<div style="width: 100%; height: 100%; position: fixed; z-index: 1100; top:0; left:0; right: 0; bottom: 0; background: #A61229;">
    <demo-mode></demo-mode>
    <div class="login-wrapper" ng-show="showForm">
        <div ng-app="ulakbus.auth" class="login">
            <div class="logo" title="Ulakbus"><img src="/img/brand-logo2.png" alt="Ulakbüs"></div>
            <div class="login-panel">
                <form name="loginForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(loginForm)"></form>
                <span class="label label-inverse label-warning">{{message}}</span>
            </div>
        </div>
    </div>
</div>