<div class="chat-popup-window create-new-channel-window">
    <div class="close-chat-popup-window" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></div>
    <h3>{{title}}</h3>
    <div class="text-center">
        <input type="text" placeholder="Channel Name" ng-model="channel.name"><br>
        <textarea placeholder="Channel Description" ng-model="channel.description"></textarea>
        <button class="btn btn-success" ng-click="done(channel)">{{actionTitle}}</button>
    </div>
</div>
