/* Space out content a bit */
body {
    font-family:'robotoregular';
    background-color: #f5f5f5;
    overflow:hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color:#ccc;
}

::-webkit-scrollbar-thumb {
    background-color:#999;
}

.badge {
    border-radius: 100%;
    width: 22px;
    height: 22px;
    padding: 0;
    position: absolute;
    z-index: 1;
    line-height: 19px;
    top: 4px;
    left: 2px;
    background-color: rgba(220, 112, 0, 1);
    border: 2px solid #a61229;
    font-family: 'robotomedium';
    font-weight: normal;
}

.form-control {
    box-shadow:none;
    border-radius:0;
    border-color:#ececec;
}

.btn {
    border:none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

a {
    color:#a61229;
	-webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

a:hover {
    color:#941A1A;
}

.breadcrumb {
    background-color:transparent;
    padding:0;
    font-size:18px;
	float:left;
    margin-bottom: 0;
}

.buttons-on-bottom {
	float:left;
}

.filter-inner {
	background-color: #fff;
    padding: 15px;
    margin-top: 104px;
    border: 1px solid #E6E6E6;	
}

.filter-inner h4 {
	font-family: 'robotobold';
    color: #333;
    letter-spacing: 0.5px;
}

img.header-profile {
	width:27px;
	height:27px;
	border-radius:100%;
	margin-right:6px;
}

/** DETAIL PAGE **/

.detail-page {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #E6E6E6;
}

/** END DETAIL PAGE **/

/** BRAND **/

.brand-bg {
    background-color:#A61229;
}

button.brand-bg {
    background-color:#A61229;
    color:#fff;
}

button.brand-bg:hover {
    background-color:#941A1A;
    color:#fff;
}

.brand {
	position: absolute;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

a.logo {
	height: 42px;
    display: block;
	text-align: center;
    line-height: 38px;
	opacity: 0.8;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

a.logo:hover {
	opacity:1;
}

.logo img {
	width: 100px;
}

/** END OF BRAND **/


/** LOADER **/

.loader {
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(166, 12, 41, 0.2);
  border-right: 1.1em solid rgba(166, 12, 41, 0.2);
  border-bottom: 1.1em solid rgba(166, 12, 41, 0.2);
  border-left: 1.1em solid #A61229;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/** END OF LOADER **/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

nav.navbar {
    background-color: #A61229;
    border-color: #941A1A;
    min-height:30px;
}

a.navbar-brand img {
    height:45px;
    margin-top:-6px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.navbar-default .navbar-toggle:hover {
    background-color:#9a1026;
}

.navbar-default .navbar-toggle:focus {
    background-color:#A61229;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

ul.header-menu {
    float:left;
    padding-left:23px;
}

ul.header-menu li {
    list-style:none;
    float:left;
    margin-right:15px;
    margin-top:10px;
}

ul.header-menu li a{
    color:#fff;
    text-decoration:none;
    opacity:0.9;
}

ul.header-menu li a:hover{
    opacity:1;
}

.nav>li>a {
    color: #696969;
    border-left:3px solid transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.sidebar .nav>li ul {
    border-left: 3px solid #A61229;
}

.sidebar .nav>li ul>li a {
    font-family:'robotoregular';
    background-color:#fdfdfd;
}

.nav>li>a:visited {
}

.nav>li.active>a {
    text-decoration: none;
    background-color: #fdfdfd;
    color: #565656;
    border-color:#A61229;
}

.nav>li.active>a:hover,
.sidebar .nav>li ul>li a:hover,
.nav>li>a:hover {
    background-color:#f9f9f9;
}

/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

select {
    padding: 5px 10px;
    border-color: #dcdcdc;
    outline: none;
}

#wrapper {
    width: 100%;
}

.manager-view {
    height:100%;
    width: calc(100% - 250px);
    -webkit-width: calc(100% - 250px);
    position: absolute;
    right: 0;
    background-color:#f5f5f5;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.manager-view-inner {
    height:calc(100% - 41px);
    -webkit-height:calc(100% - 41px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.manager-view-header {
    /*width:100%;*/
    /*width: calc(100% - 300px);*/
    padding:10px;
    background-color:#fff;
    border-bottom:1px solid #ccc;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position:relative;
    z-index:1;
    height: 43px;
}

.manager-view-content {
    padding:25px 40px;
    overflow:auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    color:#fff;
    cursor:pointer;
}

.navbar-top-links li>a:hover,
.navbar-top-links .open>a,
.navbar-top-links .open>a:hover,
.navbar-top-links .open>a:active,
.navbar-top-links .open>a:focus {
    background-color:#9A1026;
}

.navbar-top-links .dropdown-menu li.divider {
    margin:0;
}

.navbar-top-links .dropdown-menu li a:hover {
    background-color:#fcfcfc;
}

.navbar-top-links .open>a,
.navbar-top-links .open>a:hover {
    border-color:#9A1026;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 10px 20px;
    min-height: 0;
    color:#444;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar {
    background-color:#fff;
    border-right: 1px solid #ccc;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.sidebar .fa {
	font-size:18px;
	margin-right:10px;	
}

.sidebar span.menu-text {
	display:inline-block;	
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    font-family: 'robotomedium';
    letter-spacing: 0.2px;
    border-bottom: 1px solid #DCDCDC;
}

.sidebar ul li a {
	/*height:40px;*/
	overflow:hidden;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
    font-size: 12px;
}

.sidebar-person-info {
	overflow-x: visible;
    overflow-y: auto;
    /*position: absolute;*/
    width: 100%;
    /*max-height: 50%;*/
    background: whitesmoke;
	/*display:none;*/ /** angular template will hndle this */
}

.sidebar-person-info .identity {
	color:#555;
	padding:10px;
	padding-bottom: 0px;
}

.sidebar-person-info .identity-header {
	border-bottom: 1px solid #ECECEC;
}

.sidebar-person-info .identity-info {
	margin-top:10px;
	color: #6D6D6D;
	border-bottom: 1px solid #ECECEC;
}

.sidebar-person-info .identity-info div {
	margin-bottom:4px;
}

.sidebar-person-info .identity-info div div {
	float:left;
	width:80%;
}

.sidebar-person-info .identity-info span {
	float:left;
	width:27px;
	margin-top: 3px;
}

.sidebar-person-info .identity img {
	width:40px;
	height:40px;
	border-radius:100%;
	margin:10px auto;
	float:left;
	margin-right:10px;
	border: 1px solid #E4E4E4;
}

.sidebar-person-info .identity p.identity-name {
	font-family:'robotomedium';
	font-size:16px;
    margin-bottom: 0;
	margin-top:13px;
}

.sidebar-person-info .identity p.identity-surname {
	font-family:'robotomedium';
	font-size:16px;
    margin-bottom: 0;
	text-transform:uppercase;
}

.sidebar-person-info .identity p.identity-email {
	float:left;
}

.sidebar-person-info .identity ul {
	margin:0;
	padding:0;
}

.sidebar-person-info .identity ul li {
	list-style:none;
	border:none;
}

.sidebar-person-info .person-actions {
	
}

.sidebar-person-info .person-actions ul {
	margin:0;
	padding:0;
}

.sidebar-person-info .person-actions ul li {
	list-style:none;
	border:none;
}

.sidebar-person-info .person-actions ul li a {
	text-decoration:none;
	color:#555;
	display:block;
	padding:10px 15px;
	font-family: 'robotobold'; 
}

.sidebar-person-info .person-actions ul li a:hover {
	background-color:#f5f5f5;
}

.sidebar-person-info .person-actions ul li a span {
	margin-right:13px;
}

.sidebar-person-info .close-sidebar-person-info {
	width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    border-radius: 5px;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    background-color: #B93939;
    color: #fff;
	display:block;
}

.sidebar-person-info .close-sidebar-person-info:hover {
	background-color:#9A1026;
}

.sidebar-person-info .close-sidebar-person-info span {
	font-size: 12px;
    color: #555;
    margin-right: 6px;
    position: relative;
    top: -1px;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}


/* DASHBOARD */

.dashboard .row {
    margin-bottom:10px;
}

.dashboard .major-buttons {
    margin-bottom:20px;
}

.dashboard .major-buttons i {
    margin-right:10px;
}

.dashboard .major-buttons a button {
    width:100%;
    height:100px;
    font-size: 19px;
    font-family: 'robotolight';
}

.dashboard .major-buttons a button:focus {
	color:#fff;
}

.dashboard-main-search .panel-default {
	padding-bottom:25px;
	border-radius:2px;
}

.dashboard-main-search .dashboard-student-search h3, 
.dashboard-main-search .dashboard-personnel-search h3 {
	font-family: 'robotolight';
    color: #5A5A5A;
    letter-spacing: 1px;
	font-size:16px;
}

.dashboard-main-search input {
	width: 70%;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    padding: 7px;
    outline: none;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
	margin-right: -5px;
}

.bordered-fa-icon {
	padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #FBF9F9;
	cursor:pointer;	
	color:#5A5A5A;
}

.dashboard-student-search {
	float: left;
    width: 50%;
    border-right: 1px solid #e8e8e8;		
}

.dashboard-personnel-search {
	float: left;
    width: 50%;
}

.dashboard-search-results {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.dashboard-search-results ul {
    max-height: 600px;
	overflow-y: auto;
	padding:0;
	webkit-box-shadow: 0 0 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.15);
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    background-color: #fff;
    border-radius: 3px;
}

.dashboard-search-results ul li {
	list-style:none;
	border-bottom: 1px solid #F3F3F3;
}

.dashboard-search-results ul li:last-child {
	border:none;
}

.dashboard-search-results ul li a {
	color:#666;
	padding: 10px 25px;
	display:block;
	text-decoration:none;
}

.dashboard-search-results ul li a:hover {
	background-color:#f5f5f5;
}

.dashboard-search-results ul li:first-child a:hover {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.dashboard-search-results ul li:last-child a:hover {
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.right-sidebar {
	width: 0px;
    background-color: #FFFFFF;
    border-left: 1px solid #ccc;
    height: calc(100% - 40px);
    position: absolute;
    top: 0px;
    right: 0px;
    overflow-y: auto;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;	
}

.right-sidebar-box {
	border-bottom: 1px solid #D0D0D0;
}

.right-sidebar-title {
	border-bottom: 1px solid #D0D0D0;
    padding: 10px;
    background-color: #F3F3F3;	
}

.right-sidebar-title h3 {
	float: left;
    margin: 0;
    font-size: 16px;
    color: #666;
    font-family: 'robotobold';
	text-transform: uppercase;
	line-height:normal;
}

.right-sidebar-title span a {
	float: right;
    color: #A61229;
	text-decoration:none;
}

.right-sidebar-message-block {
	border-bottom: 1px solid #F3F3F3;
}

.right-sidebar-message-block:last-child {
	border-bottom:none;
}

.right-sidebar-message-block a {
	padding: 10px 15px;
    display: block;
    color: #555;
}

.right-sidebar-message-block a:hover{
	background-color:#f5f5f5;
}

.right-sidebar-message-block a img {
	width: 30px;
    height: 30px;
    border-radius: 100%;
    float: left;
}

.right-sidebar-message-content {
	float: left;
    margin-left: 15px;
	position:relative;
	width: calc(100% - 50px);
	
}

.right-sidebar-message-content div:nth-child(1) {
	width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	font-family: 'robotomedium';
    font-size: 15px;
	margin-top: -5px;
}

.right-sidebar-message-content div:nth-child(2) {
	width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	margin-top: -5px;
}

.right-sidebar-message-content div:nth-child(3) {
	color: #8C8C8C;
    position: absolute;
    right: 0;
    top: 5px;
}

.right-sidebar-task-block a {
	padding: 10px 25px;
    display: block;
    color: #555;
	text-decoration:none;
}

.right-sidebar-task-block a:hover {
	background-color:#f5f5f5;
}

.right-sidebar-task-block .task-type {
	padding: 5px 10px;
	font-size: 15px;
	font-family: 'robotomedium';
    color: #666;
}

.right-sidebar-task-block .progress {
	margin-top: 5px;
	margin-bottom: 0;
}

.right-sidebar-task-block .progress .progress-bar {
	background-color: #A61229;
}

.right-sidebar-announcement-block a,
.right-sidebar-last-action-block a {
	width: 100%;
    display: block;
    padding: 7px 15px;	
	color:#555;
	text-decoration:none;
	border-bottom: 1px solid #f3f3f3;
}

.right-sidebar-announcement-block a:hover,
.right-sidebar-last-action-block a:hover {
	background-color:#f5f5f5;
}

.dashboard .user-pic {
	width:100%;
}

.dashboard .panel-default > .panel-heading {
	background-color:#fff;
	border-color:#F2F2F2;
	font-family:'robotolight';
	color: rgb(95, 95, 95);
	padding:15px;
}

.dashboard .panel-default > .panel-heading .panel-title {
	font-size:18px;
	display:inline-block;
}

.dashboard .panel-default > .panel-heading .panel-action {
	font-size: 15px;
    padding-top: 3px;
    padding-right: 10px;
	font-family:'robotomedium';
	cursor:pointer;
}

.dashboard .user-info .user-name {
	font-family:'robotomedium';
	padding-top:15px;	
}

.dashboard .quick-links .panel-default {
	/*height:	274px;*/
}

.dashboard .quick-links .panel-body,
.dashboard .quick-links .link-buttons {
	padding:0;
}

.dashboard .quick-links .link-buttons a {
	padding:15px;
	display:block;
	color:#333;
	text-decoration:none;
	border-bottom: 1px solid #EFEFEF;
	border-right: 1px solid #efefef;
}

.dashboard .quick-links .link-buttons a:hover {
	background-color:#efefef;
}


/* END OF DASHBOARD */

/* SELECTED PERSON FIELD */

.selected-person-field .right-sidebar-header {
	height:43px;
	width:100%;
}

.selected-person-field .right-sidebar-header .bar-title {
	margin-left: 10px;
    height: 43px;
    line-height: 43px;
    font-family: 'robotomedium';
    font-size: 15px;
}

.selected-person-field .right-sidebar-header .unselect-person {
	height: 43px;
    width: 43px;
    font-size: 24px;
    line-height: 43px;
    float: right;
    text-align: center;
	cursor:pointer;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


.selected-person-field .right-sidebar-header .unselect-person:hover > i{
	color:#333;
}

.selected-person-field .right-sidebar-header .unselect-person i {
	color:#999;
}

.selected-person-field img.selected-person-img {
	width:150px;
	height:150px;
	border-radius:100%;
	margin-top:5px;
	margin-left:75px;
	margin-right:75px;
}

.selected-person-field .selected-person-info .selected-person-name {
	width:100%;
	padding:15px 20px;
	text-align:center;
	font-family:'robotomedium';
	font-size:18px;
}

/* END OF SELECTED PERSON FIELD */

/* PERSONNEL INFO */

.generic-profile-picture img {
    width:220px;
    height:220px;
}

.personnel-info-container {
    width:1000px;
    height:530px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    background-color:#fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    position:relative;
}

.personnel-info-left {
    width:250px;
    height:100%;
    background-color:#fcfcfc;
    padding:15px;
    position:absolute;
    left:0;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #F7F7F7;
}

.personnel-info-left ul {
    padding:0;
    margin-top:20px;
}

.personnel-info-left ul li {
    list-style:none;
    margin-bottom:15px;
    position:relative;
    padding-left:30px;
    color:#555;
}

.personnel-info-left ul li:nth-child(1) {
    padding:0;
    font-family:'robotobold';
    font-size:18px;
    color:#333;
}

.personnel-info-left ul li:nth-child(2) {
    padding:0;
    font-family:'robotomedium';
    font-size:17px;
    color:#666;
}

.personnel-info-left ul li i.fa {
    width:18px;
    margin-right:15px;
    font-size:18px;
    position:absolute;
    left:0;
    text-align:center;
}

.personnel-info-right {
    width:750px;
    height:100%;
    background-color:#fff;
    padding:40px;
    padding-top:15px;
    position:absolute;
    right:0;
    overflow-y:auto;
}

.personnel-info-right h2 {
    margin-top:0;
    margin-bottom:20px;
    font-family:'robotolight';
    font-size:23px;
}

.info-block {
    margin-bottom:70px;
}

.info-block:last-child {
    margin-bottom:0px;
}

.info-block-body dt {
    text-align:left;
    font-family:'robotomedium';
    font-weight:normal;
}

.info-block-body dl {
    margin-bottom:10px;
    color:#444;
}

.personnel-info-edit .personnel-info-left ul li {
    padding-left:0;
}


/* END OF PERSONNEL INFO */


/* SIDEBAR COLLAPSE */

.sidebar-collapse-button {
	width: 62px;
    height: 41px;
    float: left;
	padding: 8px 16px;
	cursor:pointer;
}

.sidebar-collapse-button:hover {
	background-color:#9A1026;
}

.sidebar-collapse-button div {
	width: 30px;
    height: 2px;
    background-color: #fff;
	margin-top:5px;
	border-radius:5px;
	
}

/* END OF SIDEBAR COLLAPSE */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    .sidebar {
        z-index: 1;
        position: absolute;
        overflow-y: auto;
        width: 250px;
        height: 100%;
        -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 25px rgba(0,0,0,0.1);
        box-shadow: 0 0 25px rgba(0,0,0,0.1);
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    .container {
        max-width: 730px;
    }

    .manager-view {
        height:100%;
    }
	
	.sidebar .sidebar-nav.navbar-collapse {
		overflow-x: visible;
		/*overflow-y: auto;*/
		/*position: absolute;*/
		width: 100%;
		/*max-height: calc(50% - 139px);*/
	}

    .sidebar-container {
        max-height: calc(100% - 120px); overflow-y: auto;
    }
	
	footer {
		position: absolute;
		bottom: 35px;
		padding: 15px;
		width:100%;
		text-align:center;
	}
	
	footer span {
		font-family:'robotobold';
		color:#777;
	}
}

@media (max-width: 767px) {
    .manager-view {
        width:100%;
    }
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
	
	.sidebar {
		width:100% !important;	
	}

    .brand,
	footer {
		display:none;
    }

    .logo img {
        width:200px;
        margin-left:0;
    }

    .manager-view-content {
        overflow:inherit;
    }

    body {
        overflow:auto;
    }
	
	.sidebar-collapse-button {
		display:none;	
	}
    .right-sidebar {
        display: none;
    }
}


@media (max-width: 1350px) {
    .personnel-info-container {
        width:700px;
    }

    .personnel-info-right {
        width:450px;
    }
}






@media (max-width: 1000px) {
    .personnel-info-container {
        width:500px;
        height:auto;
    }

    .personnel-info-left {
        width:100%;
        position:relative;
        height:auto;
        border:none;
    }

    .personnel-info-right {
        width:100%;
        position:relative;
        height:auto;
    }

    .generic-profile-picture,
    .personnel-info-left ul li:nth-child(1),
    .personnel-info-left ul li:nth-child(2) {
        text-align:center;
    }

    .generic-profile-picture img {
        border-radius:100%;
    }
}




@media (max-width: 560px) {
    .personnel-info-container {
        width: 350px;
    }
}

@media (max-width: 991px) {
    .dashboard .major-buttons a button {
        margin-bottom:20px;
    }
}

.tablescroll{
    width: 100%;
    overflow-x:auto;
    overflow-y:visible;
    padding-bottom:1px;
}

.tablescrollfixleft {
    position:absolute;
    left:0;
    top:auto;
}
.tablescrollfixleft {
    position:absolute;
    right:0;
    top:auto;
}


/* loading bar */

.loadingbarfullsize{
    z-index:10001;
    position:fixed;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background: url('/img/loading_spinner.gif') rgba(0, 0, 3, 0.2) no-repeat center center;
    background-size: 100px 100px;
}


/* page transitions */
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

/* end page transitions */
.move-to-bottom, .move-to-top, .move-to-bottom-modal, .move-to-top-modal {
    margin-right: 10px !important;
}

/* file upload button */

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* end file upload */