<div class="dashboard-main-search clearfix">

    <div class="row" ng-if="$root.current_user.can_search">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Arama</div>
                </div>
                <div class="panel-body">
                    <div class="dashboard-student-search" data-step="2"
                         data-intro="isim veya tcno ile öğrenci araması yapabilirsiniz."
                         ng-show="$root.searchInputs.ogrenci">
                        <div class="text-center">
                            <h3>ÖĞRENCİ</h3>
                            <input type="text" placeholder="Öğrenci ara" ng-model="keyword.student"
                                   ng-keyup="search('ogrenci')">
                            <span class="bordered-fa-icon fa fa-search" ng-click="search('ogrenci')"></span>
                        </div>
                        <div class="dashboard-search-results" ng-show="showResults">
                            <ul ng-if="students.length > 0">
                                <li ng-repeat="student in students">
                                    <a role="button" ng-click="select(student, 'ogrenci')">
                                        <span>{{student[0]}}</span>
                                        <i class="fa fa-fw fa-info-circle pull-right" popover-placement="bottom"
                                           uib-popover-template="userPopover.templateUrl"
                                           ng-click="get_info('Ogrenci', student[2])"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- end of dashboard-student-search-results -->
                    </div>
                    <!-- end of dashboard-student-search -->
                    <div class="dashboard-personnel-search" data-step="3"
                         data-intro="isim veya tcno ile personel araması yapabilirsiniz."
                         ng-show="$root.searchInputs.personel">
                        <div class="text-center">
                            <h3>PERSONEL</h3>
                            <input type="text" placeholder="Personel ara" ng-model="keyword.staff"
                                   ng-keyup="search('personel')">
                            <span class="bordered-fa-icon fa fa-search" ng-click="search('personel')"></span>
                        </div>
                        <div class="dashboard-search-results" ng-show="showResults">
                            <ul ng-if="staffs.length > 0">
                                <li ng-repeat="staff in staffs">
                                    <a role="button" ng-click="select(staff, 'personel')">
                                        <span>{{staff[0]}}</span>
                                        <i class="fa fa-fw fa-info-circle pull-right"
                                           popover-placement="bottom"
                                           uib-popover-template="userPopover.templateUrl"
                                           ng-click="get_info('Personel', staff[2])"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- end of dashboard-personnel-search-results -->
                    </div>
                    <!-- end of dashboard-personnel-search -->
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end of dashboard-main-search -->

<div class="row">

    <div class="col-md-12 quick-links">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Hızlı İşlemler</div>
                <div class="panel-action pull-right"><i class="fa fa-edit fa-fw"></i> Düzenle</div>
            </div>
            <div class="panel-body">
                <div class="col-md-6 text-center link-buttons"
                     ng-repeat="item in $root.quick_menu track by $index">
                    <a
                            ng-href="#/{{item.wf}}/{{item.model}}?{{item.param}}={{selectedUser.key}}">
                        {{item.text}}
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end of row -->

<div class="dashboard-main-anouncement clearfix">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Duyurular</div>
                </div>
                <div class="panel-body">
                    <a ng-click="markAsRead(notify)"
                       ng-repeat="notify in notifications[3] | limitTo:5">{{notify
                        .body}}</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end of dashboard-main-anouncement -->
