<div ng-hide="show_crud === false" class="container-fluid">
    <crud-timetable-directive ng-if="ogretim_elemani_zt"></crud-timetable-directive>
    <crud-timetable-directive2 ng-if="derslik_zaman_tablosu"></crud-timetable-directive2>
    <div ng-class="{'col-md-8': meta.allow_filters}">
        <msgbox ng-show="msgbox"></msgbox>
        <h3 ng-class="{'mid-h3': !objects}">{{ object_title || schema.title}}</h3>
        <zeta-gantt-chart ng-if="gantt_chart" gantt-chart-data="gantt_chart"></zeta-gantt-chart>
        <crud-show-directive ng-if="object"></crud-show-directive>
        <crud-form-directive ng-if="forms" ></crud-form-directive>
        <crud-tree-toggle-directive  ng-if="objects[0].type == 'tree-toggle'"></crud-tree-toggle-directive>
        <crud-list-directive ng-if="objects"></crud-list-directive>
        <zeta-grid ng-if="gridOptions" grid-options-provided="gridOptions" token="token" wf="wf"></zeta-grid>
    </div>
    <crud-filters ng-show="meta.allow_filters === true" class="col-md-4 filtre"></crud-filters>
</div>
<div ng-show="show_crud === false" class="crud-mask">
    <span class="loader"></span>
</div>
