<div class="clearfix" ng-class="{'form-container': !objects}">
    <div class="buttons-on-top"></div>

    <form id="formgenerated" name="formgenerated" sf-schema="schema" sf-form="form" sf-model="model"
          ng-submit="onSubmit(formgenerated)" form-locator>
    </form>

    <div ng-repeat="node in Node">
        <h3>{{ node.title }}
        <span ng-if="node.lengthModels < 1">
            <a modal-for-nodes="{{node.schema.model_name}},Node">
                <i class="fa fa-plus-circle fa-fw"></i>
            </a>
        </span>
        </h3>

        <div class="node-table">
            <ng-include src="'/components/crud/templates/nodeTable.html'"></ng-include>
        </div>
        <hr>
    </div>
    <div ng-repeat="node in ListNode">
        <h3>{{ node.title }}
            <span ng-if="meta.allow_add_listnode !== false" ng-hide="node.quick_add === true">
                <a modal-for-nodes="{{node.schema.model_name}},ListNode,add">
                    <i class="fa fa-plus-circle fa-fw"></i>
                </a>
            </span>
            <quick-add node="node" ng-if="node.quick_add === true"></quick-add>
        </h3>

        <div class="list-node-table" ng-if="!meta.translate_widget">
            <ng-include src="'/components/crud/templates/nodeTable.html'"></ng-include>
        </div>
        <div class="list-node-table" ng-if="meta.translate_widget">
            <ng-include src="'/shared/templates/translate.html'"></ng-include>
        </div>
        <hr>
    </div>

    <div class="buttons-on-bottom"></div>

</div>