<input type="text"
       class="form-control"
       ng-if="node.schema.properties[k].type === 'date'"
       ng-model="node.model[outerIndex][k]"
       uib-datepicker-popup="dd.MM.yyyy"
       is-open="datepickerstatuses[outerIndex]"
       close-text="Kapat"
       current-text="Bugün"
       clear-text="Temizle"
       ng-click="openDatepicker(outerIndex)">

<input type="number"
       ng-class="{ 'form-control' : '{{node.schema.properties[k].type}}' !== 'checkbox'}"
       ng-if="node.schema.properties[k].type === 'float'"
       ng-model="node.model[outerIndex][k]">

<div class="select-wrapper" style="width: 100%;">
    <ui-select ng-model="node.model[outerIndex][k]"
              ng-if="node.schema.properties[k].type === 'select'"
              name="selectinline{{outerIndex}}"
              sf-changed="form"
              schema-validate="form"
              theme="bootstrap"
              style="width: 100%;">
        <ui-select-match placeholder="">{{$select.selected.value.name}}</ui-select-match>
        <ui-select-choices repeat="item.value.value as (key, item) in node.schema.properties[k].titleMap | filter: $select.search">
            <span ng-bind-html="item.value.name | highlight: $select.search "></span>
        </ui-select-choices>
    </ui-select>
</div>

<input type="{{node.schema.properties[k].type}}"
       ng-class="{ 'form-control' : '{{node.schema.properties[k].type}}' !== 'checkbox'}"
       ng-if="node.schema.properties[k].type !== 'date' && node.schema.properties[k].type !== 'select' && node.schema.properties[k].type !== 'float'"
       ng-model="node.model[outerIndex][k]"
       ng-change="nodeModelChange(this)">

