<div class="starter-template">
    <sort-directive ng-if="meta['allow_sort']===true"></sort-directive>
    <search-directive ng-if="meta['allow_search']===true"></search-directive>
    <div class="clearfix"></div>
    <!--<h1>{{form_params.model || form_params.wf}}</h1>-->
    <div class="row" ng-if="(!meta.selective_listing && !objects[1])">
        <div class="col-md-12">
            <ul class="list-group permission-tree" id="permission-tree" ng-if="permissions">
                <div class="permissions-tree-typeahead">
                    <input class="form-control"
                        type="text"
                        placeholder="..."
                        ng-model="filterText"
                        uib-typeahead="permission as permission.name for permission in permissions | filter:{name:$viewValue, description:$viewValue}"
                        typeahead-wait-ms="500" 
                        autofocus />

                    <div ng-show="loadingTitleMap" class="loader"></div>
                    <div ng-show="noResults">
                        <i class="fa fa-close"></i> bulunamadı.
                    </div>
                </div>
                <crud-tree-permissions-directive ng-repeat="permission in permissions | filter:filterText" permission="permission"></crud-tree-permissions-directive>
            </ul>
        </div>
    </div>
    <!-- todo: add `selective_list` to documentation -->
    <div ng-if="meta.selective_listing === true" class="row" style="margin-bottom: 25px;">
        <label for="selective_list">{{meta.selective_listing_label || "Sayfa içinde filtrelemek için seçim yapınız."}}</label>
        <select name="selective_list" id="selective_list"
                ng-change="update_selective_list(selective_list_key)"
                ng-model="selective_list_key"
                ng-options="item as item.key for item in all_objects"
                class="form-control">
            <!--<option ng-repeat="item in all_objects" value="{{$index}}">{{item.key}}</option>-->
        </select>
    </div>
    <div class="tablescroll" ng-if="objects[1]">
        <table class="table table-bordered table-striped" style="background-color:#fff;">
            <thead>
            <tr>
                <td ng-if="meta.allow_selection === true">
                    <label>
                        <input type="checkbox" style="zoom:1.5; margin:5px 0 0 8px;">
                        Hepsini Seç
                    </label>
                </td>
                <td ng-repeat="value in objects[0] track by $index" ng-if="objects[0]!='-1'">{{value}}</td>
                <td ng-if="objects[0]=='-1'">{{ schema.title||model}}</td>
                <td ng-if="meta.allow_actions !== false">İşlem</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="object in objects" ng-if="$index>0">
                <td width="60" ng-if="meta.allow_selection === true">
                    <label>
                        <input type="checkbox" style="zoom:1.5; margin:5px 0 0 8px;">
                    </label>
                </td>
                <!--<td scope="row" style="text-align:center">{{$index}}</td>-->

                <td ng-repeat="field in object.fields track by $index">
                    <a role="button" ng-if="field.type==='link'"
                       ng-click="do_action(object.key, field)"><markdown ng-bind-html="field.content"></markdown></a>
                    <span ng-if="field.type==='str'" ng-bind-html="field.content || '' | markdown"></span>
                    <!--<a role="button" ng-if="field.type==='link'"-->
                       <!--ng-click="do_action(object.key, field)">{{trustashtml(field.content) | markdown}}</a>-->
                    <!--<span ng-if="field.type==='str'">{{trustashtml(field.content) | markdown}}</span>-->
                </td>

                <td ng-if="meta.allow_actions !== false">
                    <button class="btn btn-info" style="margin-right: 5px;" ng-repeat="action in object.actions track by $index"
                            ng-if="action.show_as==='button'"
                            ng-click="do_action(object.key, action)">{{action
                        .name}}
                    </button>
                    <br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <nav ng-if="pagination.total_objects>pagination.per_page" class="text-center">
        <ul uib-pagination boundary-links="true" total-items="pagination.total_objects" ng-model="pagination.page"  max-size="pagination.per_page" rotate="true" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </nav>

</div>