<div class="starter-template">
    <h1>{{model}}</h1>
    <table class="table table-bordered" style="background-color:#fff;">
        <thead>
        <tr>
            <th colspan="2">#</th>
            <th ng-repeat="(key,value) in objects[0].data">{{ key }}</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="object in objects">
            <td width="60">
                <label>
                    <input type="checkbox" style="zoom:1.5; margin:5px 0 0 8px;">
                </label>
            </td>
            <th scope="row" style="text-align:center">1</th>
            <td ng-repeat="(key,value) in object.data">{{value}}</td>
            <td>
                <a ng-href="#/crud/{{model}}/edit/{{object.key}}">Edit</a><br>
                <a ng-href="#/crud/{{model}}/{{object.key}}">Show</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>