<div class="starter-template">
    <div ng-repeat="obj in object" class="detail-page">
        <div class="info-block-header">
            <h3>{{obj.title}}</h3>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead ng-if="obj.type==='table-multiRow'">
                    <tr>
                        <td ng-repeat="(key, value) in obj.fields[0]">{{key}}</td>
                    </tr>
                </thead>
                <tbody ng-if="obj.type==='table-multiRow'">
                    <tr ng-repeat="row in obj.fields">
                        <!--<td ng-repeat="(k,v) in row track by $index"><markdown ng-bind-html="v"></markdown></td>-->
                        <td ng-repeat="(k,v) in row track by $index" ng-bind-html="v | markdown"></td>
                    </tr>
                </tbody>
                <tbody ng-if="obj.type==='table'">
                    <tr ng-repeat="(key, value) in obj.fields">
                        <td class="col-md-2">{{key}}</td>
                        <!--<td class="col-md-8"><markdown ng-bind-html="value"></markdown></td>-->
                        <td class="col-md-8" ng-bind-html="value | markdown"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>