<div class="manager-view-header container-fluid">
    <ul class="breadcrumb">
        <li><a href="#">Personeller</a></li>
        <li><a href="#">Liste</a></li>
        <li class="active">Tablo</li>
    </ul>
    <!--<header-sub-menu-buttons></header-sub-menu-buttons>-->
    <div id="header-buttons">
        <button type="button" class="btn btn-primary" ng-click="triggerSubmit()">Kaydet</button>
        <button type="button" class="btn btn-warning">Düzenle</button>
        <button type="button" class="btn btn-danger">İptal</button>
    </div>
</div>