<li class="dropdown" style="border-left:1px solid #891723;">
    <a class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 7px; padding-bottom: 6px;">
        <!-- TODO: replace image with placeholder avatar image-->
        <img ng-src="{{user.avatar || '../../../img/sample-profile-pic.jpg'}}" class="header-profile">
        <span class="user-info">
            <span class="user-name">{{user.name}}&nbsp{{user.surname}}</span>
        </span>

        <i class="fa fa-caret-down" style="margin-left:3px;"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a role="button"><a ng-href="#/profil_sayfasi_goruntuleme" role="button"></a><i class="fa fa-user fa-fw"></i> Profil</a></li>
        <li ng-if="showRole"><a ng-href="#/role_switching/" role="button"><i class="fa fa-user fa-fw"></i> Rol Değiştir</a></li>
        <li class="divider"></li>
        <!--<li><a role="button"><i class="fa fa-gear fa-fw"></i> Ayarlar</a></li>
        <li><a ng-href="#/dev/settings"><i class="fa fa-gear fa-fw"></i> Ayarlar</a></li>-->
        <li class="divider"></li>
        <li><a ui-sref="login" href="javascript:void(0);" logout><i class="fa fa-sign-out fa-fw"></i> Çıkış</a></li>
    </ul>
    <!-- /.dropdown-user -->
</li>