<div class="manager-view-header" ng-class="{hidden: $root.loggedInUser != true}">
    <div class="clearfix">
        <header-breadcrumb></header-breadcrumb>
        <loaderdiv><div></div></loaderdiv>
        <!--<div class="loader">Loading...</div>-->
        <selected-user class="pull-right"></selected-user>
    </div>
    <!--<div id="header-buttons" ng-class="{hidden: $root.showSaveButton != true}">-->
        <!--<button type="button" class="btn btn-primary" ng-click="triggerSubmit()">Kaydet</button>-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-warning">Düzenle</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-danger">İptal</button>&ndash;&gt;-->
    <!--</div>-->
</div>