<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bars fa-fw"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a role="button"><i class="fa fa-user fa-fw"></i> Profil</a></li>
        <li ng-if="showRole"><a ng-href="#/role_switching/" role="button"><i class="fa fa-user fa-fw"></i> Rol Değiştir</a></li>
        <li class="divider"></li>
        <!--<li><a role="button"><i class="fa fa-gear fa-fw"></i> Ayarlar</a></li>-->
        <li><a ng-href="#/dev/settings"><i class="fa fa-gear fa-fw"></i> Ayarlar</a></li>
        <li class="divider"></li>
        <li><a ui-sref="login" href="javascript:void(0);" logout><i class="fa fa-sign-out fa-fw"></i> Çıkış</a></li>
    </ul>
    <!-- /.dropdown-user -->
</li>