<ul class="nav navbar-top-links navbar-right" ng-if=" !isPublicAccess ">
    <li>
        <a ng-click="showMessagesWindow('messages')">
            <div class="badge" ng-show="count.messages.count > 0">{{count.messages.count}}</div>
            <i class="fa fa-envelope fa-fw" tooltip-placement="bottom" uib-tooltip="Mesajlar"></i>
        </a>
    </li>
    <li>
        <a ng-click="showMessagesWindow('notifications')">
            <div class="badge" ng-if="count.notifications.count > 0">{{count.notifications.count}}</div>
            <i class="fa fa-bell fa-fw" tooltip-placement="bottom" uib-tooltip="Duyurular"></i>
        </a>
    </li>
   <user-menu></user-menu>
</ul>
