<div class="col-lg-4">
    <div class="panel" ng-class="{'info':'panel-info', 'error': 'panel-red', 'warning': 'panel-yellow'}[msgbox.type]">
        <div class="panel-heading">
            {{msgbox.title}}
        </div>
        <div class="panel-body">
            <p>{{msgbox.msg}}</p>
        </div>
        <!--<div class="panel-footer">-->

        <!--</div>-->
    </div>
</div>


<!--<div class="row">-->

    <!--<div class="col-lg-4">-->
        <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
                <!--Primary Panel-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
                <!--Panel Footer-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-lg-4">-->
        <!--<div class="panel panel-green">-->
            <!--<div class="panel-heading">-->
                <!--Success Panel-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
                <!--Panel Footer-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
    <!--</div>-->

    <!--<div class="col-lg-4">-->
        <!--<div class="panel panel-yellow">-->
            <!--<div class="panel-heading">-->
                <!--Warning Panel-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
                <!--Panel Footer-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col-lg-4">-->
        <!--<div class="panel panel-red">-->
            <!--<div class="panel-heading">-->
                <!--Danger Panel-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>-->
            <!--</div>-->
            <!--<div class="panel-footer">-->
                <!--Panel Footer-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->