<div style="width:400px;">
    <div class="row">
        <div class="col-md-6">
            <img src="img/sample-profile-pic.jpg" alt="{{dynamicPopover.name}}" class="img-thumbnail">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Ad:</td>
                    <td>{{dynamicPopover.name}}</td>
                </tr>
                <tr>
                    <td>TC Kimlik No:</td>
                    <td>{{dynamicPopover.tcno}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>