<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
    	<div class="brand">
        	<a href="" class="logo"><img src="../../../img/brand-logo.png" /></a>
        </div>
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a href="#/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ng-repeat="(key, item) in menuItems" ng-class="{active: collapseVar == key}">{{dropDown}}
                <a href="" ng-click="check(key)"><i class="fa fa-wrench fa-fw"></i> {{ item }}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!={{key}}">
                    <li ui-sref-active="active">
                        <a href="#/crud/{{item}}">List</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="#/crud/{{item}}/add">Add</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <!--<li ng-class="{active: collapseVar==2}">-->
                <!--<a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span-->
                        <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level" collapse="collapseVar!=2">-->
                    <!--<li>-->
                        <!--<a href="">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">Second Level Item</a>-->
                    <!--</li>-->
                    <!--<li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">-->
                        <!--<a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-third-level" collapse="multiCollapseVar!=3">-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Third Level Item</a>-->
                            <!--</li>-->

                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
            <!--<li ng-class="{active:collapseVar==4}">-->
                <!--<a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span-->
                        <!--class="fa arrow"></span></a>-->
                <!--<ul class="nav nav-second-level" collapse="collapseVar!=4">-->
                    <!--<li ng-class="{active: selectedMenu=='blank'}">-->
                        <!--<a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a ui-sref="login">Login Page</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
            <!--</li>-->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
