<div class="right-sidebar">

    <div class="right-sidebar-box">
        <div class="right-sidebar-messages">

            <div class="right-sidebar-title clearfix">
                <h3>Mesajlar</h3>
                <span><a role="button">Tüm Mesajlar</a></span>
            </div>
            <!-- end of right-sidebar-title -->

            <div class="right-sidebar-message-block" ng-repeat="notify in notifications[2] | limitTo:5">
                <a class="clearfix">
                    <img src="../../../img/sample-profile-pic.jpg">
                    <div class="right-sidebar-message-content">
                        <div>{{notify.title}}</div>
                        <div>{{notify.body}}</div>
                        <div>16:05</div>
                    </div>
                    <!-- end of right-sidebar-message-content -->
                </a>
            </div>
            <!-- end of right-sidebar-message-block -->

        </div>
        <!-- end of right-sidebar-messages -->
    </div>
    <!-- end of right-sidebar-box -->


    <div class="right-sidebar-box">
        <div class="right-sidebar-tasks">

            <div class="right-sidebar-title clearfix">
                <h3>Görevler</h3>
                <span><a role="button">Tüm Görevler</a></span>
            </div>
            <!-- end of right-sidebar-title -->

            <!--<div class="right-sidebar-task-block">-->
            <!--<div class="task-type">Devam Eden Görevler</div>-->
            <!--<a role="button">-->
            <!--<div class="task-title">Öğrenci Kayıt</div>-->
            <!--<div class="progress">-->
            <!--<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:25%;">-->
            <!--25%-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; end of progress &ndash;&gt;-->
            <!--</a>-->
            <!--</div>-->
            <!-- end of right-sidebar-task-block -->

            <div class="right-sidebar-task-block">
                <div class="task-type">Onay Bekleyen Görevler</div>
                <a ng-repeat="notify in notifications[1] | limitTo:5">
                    <div class="task-title">{{notify.title}}</div>
                </a>
            </div>
            <!-- end of right-sidebar-task-block -->

        </div>
        <!-- end of right-sidebar-tasks -->
    </div>
    <!-- end of right-sidebar-box -->


    <div class="right-sidebar-box">
        <div class="right-sidebar-announcements">

            <div class="right-sidebar-title clearfix">
                <h3>Duyurular</h3>
                <span><a role="button">Tüm Duyurular</a></span>
            </div>
            <!-- end of right-sidebar-title -->

            <div class="right-sidebar-announcement-block">
                <a ng-repeat="notify in notifications[3] | limitTo:5">{{notify.body}}</a>
            </div>
            <!-- end of right-sidebar-status-block -->

        </div>
        <!-- end of right-sidebar-status -->
    </div>
    <!-- end of right-sidebar-box -->


    <div class="right-sidebar-box">
        <div class="right-sidebar-last-actions">

            <div class="right-sidebar-title clearfix">
                <h3>Son İşlemler</h3>
                <span><a role="button">Tüm İşlemler</a></span>
            </div>
            <!-- end of right-sidebar-title -->

            <div class="right-sidebar-last-action-block">
                <a role="button">Birinci dönem bitimine 10 gün kaldı.</a>
                <a role="button">Ders seçimi işlemleri xx tarihinde başlayacaktır.</a>
            </div>
            <!-- end of right-sidebar-status-block -->

        </div>
        <!-- end of right-sidebar-status -->
    </div>
    <!-- end of right-sidebar-box -->

</div>
<!-- end of right-sidebar -->