<div class="navbar-default sidebar" role="navigation" ng-mouseenter="openSidebar()" ng-mouseleave="closeSidebar()">
	<div class="brand">
    	<a href="" class="logo"><img src="/img/brand-logo.png" /></a>
    </div>

    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu" ng-class="{hidden: $root.loggedInUser != true}">
            <!--<sidebar-search></sidebar-search>-->
            <li ui-sref-active="active">
                <a href="#/dashboard" ng-click="breadcrumb(['Panel'])"><i class="fa fa-dashboard fa-fw"></i>
                	<span class="menu-text" ng-class="{hidden: $root.collapsed}">Panel</span>
                </a>
            </li>

            <li ng-repeat="(key, item) in menuItems" ng-class="{active: collapseVar == $index+1}">{{dropDown}}
                <a href="" ng-click="check($index+1)">
                    <i class="fa fa-fw fa-cogs"
                       ng-class="{
                           'other': 'fa fa-fw fa-wrench',
                           'ogrenci': 'fa fa-fw fa-university',
                           'personel': 'fa fa-fwkey-users'}[item[0].baseCategory]"></i>
                    <span class="menu-text" ng-class="{hidden: $root.collapsed}">{{ key }}</span>
                    <span class="fa arrow" ng-class="{hidden: $root.collapsed}"></span>
                </a>
                <ul class="nav nav-second-level" ng-class="{hidden: $root.collapsed}">
                    <li ng-repeat="(k, v) in item">
                      <a ng-if="v['baseCategory'] == 'other'" ng-href="#{{v.url}}"
                           ng-click="breadcrumb([key, v.text], $event)">{{v.text}}</a>
                      <a ng-if="v['baseCategory'] == 'ogrenci' || v['baseCategory'] ==  'personel'"
                           ng-href="#{{v.url}}/list?{{v.param}}={{$root.selectedUser.key}}"
                           ng-click="breadcrumb([key, v.text], $event)">{{v.text}}</a>
                    </li>

                    <!--<li ng-repeat="(key2, item2) in item">-->
                        <!--<a href="#">{{key2}} <span class="fa arrow"></span></a>-->
                        <!--<ul class="nav nav-third-level collapse in" aria-expanded="true">-->
                            <!--<li ng-repeat="(k,v) in item2">-->
                                <!--<a ng-if="key == 'other'" ng-href="#{{v.url}}"-->
                                <!--ng-click="breadcrumb([key, v.text], $event)">{{v.text}}</a>-->
                                <!--<a ng-if="key == 'ogrenci' || key ==  'personel'"-->
                                <!--ng-href="#{{v.url}}/list?{{v.param}}={{$root.selectedUser.key}}"-->
                                <!--ng-click="breadcrumb([key, v.text], $event)">{{v.text}}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
                    <!--</li>-->
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->


    
    <footer ng-class="{hidden: $root.collapsed}">
    	<span>v <app-version></app-version> &copy; ZetaOps</span>
    </footer>
</div>
