<li class="{{task_class}}">
    <div class="task-actions-wrapper" ng-click="getActions()" uib-dropdown dropdown-append-to-body>
        <div class="task-actions" uib-dropdown-toggle>
            <div class="icon-wrapper">
                <span class="glyphicon glyphicon-option-vertical"></span>
            </div>
        </div>
        <ul class="task-manager-dropdown dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li ng-repeat="action in actions"><a ng-href="{{action.link}}">{{action.title}}</a></li>
        </ul>
    </div>
    <a ng-href="{{link}}" class="clearfix">
        <span class="task-status">
            <div class="task-circle" uib-tooltip="{{task_tooltip}}" tooltip-placement="right"></div>
            <img ng-if="task.status == false" src="../../img/task-manager-icons/unclaimed.png" uib-tooltip="Sahipsiz" tooltip-placement="right">
            <img ng-if="task.state == 20" src="../../img/task-manager-icons/in-progress.png" uib-tooltip="İlerleme Halinde" tooltip-placement="right">
            <img ng-if="task.state == 30" src="../../img/task-manager-icons/waiting.png" uib-tooltip="Tamamlanmayı Bekliyor" tooltip-placement="right">
        </span>
        <span class="task-title">
            <div ng-bind="task.title"></div>
            <div ng-bind="task.description || '&nbsp;' "></div>
            <div ng-bind="task_date"></div>
        </span>
    </a>


</li>