<div class="task-manager">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="panel-title col-md-3">Görev Yöneticisi</div>
            <div class="col-md-9 row">
                <div class="col-md-3">
                    <select class="form-control" ng-change="taskTypeChange()" ng-model="taskType" ng-options="item.name as item.title for item in taskTypes"></select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" ng-change="taskTimeChange()" ng-model="taskTime" ng-options="item.name as item.title for item in taskTimes"></select>
                </div>
                <div class="task-manager-search col-md-6">
                    <span class="glyphicon glyphicon-search"></span>
                    <input class="form-control" type="text" ng-change="taskSearch()" ng-model="taskManagerSearchQuery" placeholder="Görev yöneticisi içinde ara">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a ng-click="tab('active')" href=".current-tasks" aria-controls="current-tasks" role="tab" data-toggle="tab">Aktif Görevler <span>{{task_count.active || 0}}</span></a></li>
                <li role="presentation"><a ng-click="tab('future')" href=".future-tasks" aria-controls="future-tasks" role="tab" data-toggle="tab">Gelecekteki Görevler <span>{{task_count.future||0}}</span></a></li>
                <li role="presentation"><a ng-click="tab('finished')" href=".completed-tasks" aria-controls="completed-tasks" role="tab" data-toggle="tab">Tamamlanan Görevler <span>{{task_count.completed||0}}</span></a></li>
                <li role="presentation"><a ng-click="tab('expired')" href=".expired-tasks" aria-controls="expired-tasks" role="tab" data-toggle="tab">Geçersiz Görevler <span>{{task_count.expired||0}}</span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane current-tasks active">
                    <ul>
                        <single-task ng-repeat="(key, value) in task_list.current" key={{key}}></single-task>
                        <empty-task tasktype="Aktif" ng-if="!task_list.current"></empty-task>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane future-tasks">
                    <ul>
                        <single-task ng-repeat="(key, value) in task_list.future" data={{task}}></single-task>
                        <empty-task tasktype="Gelecek" ng-if="!task_list.future"></empty-task>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane completed-tasks">
                    <ul>
                        <single-task ng-repeat="(key, value)  in task_list.completed" data={{task}}></single-task>
                        <empty-task tasktype="Tamamlanmış" ng-if="!task_list.completed"></empty-task>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane expired-tasks">
                    <ul>
                        <single-task ng-repeat="(key, value)  in task_list.expired" data={{task}}></single-task>
                        <empty-task tasktype="Geçersiz" ng-if="!task_list.expired"></empty-task>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>