<h1>{{ schema.title }}</h1>
<form id="formgenerated" name="formgenerated" sf-schema="schema" sf-form="form" sf-model="model"></form>
<div ng-repeat="node in Node">
    <h3>{{ node.title }}
        <span ng-if="node.lengthModels < 1">
            <a href="javascript:void(0);" modal-for-nodes="{{node.title}},Node">
                <i class="fa fa-plus-circle fa-fw"></i>
            </a>
        </span>
    </h3>
    <ng-include src="'shared/templates/nodeTable.html'" ng-if="node.lengthModels > 0"></ng-include>
    <hr>
</div>
<div ng-repeat="node in ListNode">
    <h3>{{ node.title }}
        <span>
            <a href="javascript:void(0);" modal-for-nodes="{{node.title}},ListNode">
                <i class="fa fa-plus-circle fa-fw"></i>
            </a>
        </span>
    </h3>
    <ng-include src="'shared/templates/nodeTable.html'" ng-if="node.lengthModels > 0" ng-bind="node.lengthModels"></ng-include>
    <hr>
</div>

<button id="submitbutton" type="button" class="btn btn-primary" ng-click="onSubmit(formgenerated)">Kaydet</button>
<!-- <button type="button" class="btn btn-warning">Düzenle</button>  todo: make it conditional -->
<!-- <button type="button" class="btn btn-danger">İptal</button> todo: turn back to previous page -->