<div class="form-group schema-form-submit {{form.htmlClass}}">
    <button class="btn {{ form.style || 'btn-default' }}"
            type="button"
            ng-disabled="form.readonly"
            ng-click="form.openModal()">
        <span ng-if="form.icon" class="{{form.icon}}"></span>
        {{form.title}}
    </button>
    <!--<script type="text/ng-template" id="confirmModalTemplate.html">-->
        <!--<div class="modal-header">-->
            <!--<h3 class="modal-title">{{form.title}}</h3>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
            <!--<p>{{form.confirm_message}}</p>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<button ng-repeat="b in form.buttons" class="btn {{b.style || 'btn-default'}}" type="button" ng-click="form.send(b.cmd,(b.dismiss || false))">{{b.text}}</button>-->
        <!--</div>-->
    <!--</script>-->
</div>