<nav class="navbar navbar-default navbar-static-top"  ng-if="demo" style="margin-bottom: 0; border: 0; background: transparent">
    <div class="alert alert-warning text-center" role="alert" style="margin-bottom: 0">
        <b><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Demo Modu <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></b>
        <br>
        <small>HITAP, MERNIS gibi dış servislere bağlı iş akışları demo modunda çalışmamaktadır.</small>
    </div>
    <div class="clearfix"></div>
</nav>