<div class="form-group {{form.htmlClass}} schema-form-select col-md-12"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false}">
        <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">
            {{form.title}}
        </label>
        <button class="btn btn-default">Ekle <i class="fa fa-plus-circle fa-fw"
                                  add-modal-for-linked-model="{{form.formName}}"></i></button>

        <div class="form-group input-group">
            <span class="input-group-btn">
                <button class="btn btn-default dropdown-toggle" type="button" ng-click="form.getDropdownTitleMap()"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="text-center" ng-if="form.gettingTitleMap"><a><span class="loader"></span></a></li>
                    <li ng-repeat="item in form.titleMap">
                        <a ng-click="form.onDropdownSelect(item, form.name)">{{item
                            .name}}</a>
                    </li>
                </ul>
            </span>
            <input type="text"
                   ng-model="form.model"
                   uib-typeahead="item as item.name for item in form.getTitleMap($viewValue)"
                   typeahead-on-select="form.onSelect($item)"
                   typeahead-loading="loadingTitleMap" typeahead-no-results="noResults"
                   typeahead-wait-ms="500"
                   placeholder="{{form.title}}"
                   ng-model-options="form.ngModelOptions"
                   ng-disabled="form.readonly"
                   sf-changed="form"
                   class="form-control {{form.fieldHtmlClass}}"
                   schema-validate="form"
                   name="{{form.name}}"/>
        </div>
        <div ng-show="loadingTitleMap" class="loader"></div>
        <div ng-show="noResults">
            <i class="fa fa-close"></i> bulunamadı
        </div>

        <!--<select ng-model="$$value$$"-->
        <!--value="$$value$$"-->
        <!--ng-model-options="form.ngModelOptions"-->
        <!--ng-disabled="form.readonly"-->
        <!--sf-changed="form"-->
        <!--class="form-control {{form.fieldHtmlClass}}"-->
        <!--schema-validate="form"-->
        <!--ng-options="item.value as item.name for item in form.titleMap"-->
        <!--name="{{form.key.slice(-1)[0]}}">-->
        <!--</select>-->

        <div class="help-block" sf-message="form.description"></div>
</div>