<div class="form-group {{form.htmlClass}} schema-form-select col-md-12"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false}">
    <div class="col-md-12">
        <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">
            {{form.title}}
        </label>
        <!--<a role="button"><i class="fa fa-plus-circle fa-fw" add-modal-for-linked-model="{{form.formName}}"></i></a>-->

        <div class="row">
            <div class="col-md-12">
                <input type="text"
                       placeholder="{{form.title}} filtrele"
                       class="form-control {{form.fieldHtmlClass}}"
                       name="filter-interface"
                       ng-model="form.filterValue"
                       ng-keyup="form.appendFiltered(form.filterValue)"/>
            </div>

            <div class="col-md-12">
                <label for="filterItems">{{form.title}} Liste</label>
                <select ng-model="selectedItemsModel"
                        value="$$value$$"
                        ng-model-options="form.ngModelOptions"
                        ng-disabled="form.readonly"
                        sf-changed="form"
                        class="form-control {{form.fieldHtmlClass}}"
                        schema-validate="form"
                        ng-options="item as item.name for item in form.filteredItems"
                        name="filterItems"
                        size=30 style="height: 60%;"
                        multiple>
                </select>
            </div>

            <div class="col-md-12 text-center">
                <a role="button"><i class="fa fa-arrow-down fa-fw" ng-click="form.select(selectedItemsModel)"></i></a>
                <a role="button"><i class="fa fa-arrow-up fa-fw" ng-click="form.deselect(selectedFilteredItemsModel)"></i></a>
            </div>

            <div class="col-md-12">
                <label for="selectedItems">Seçilenler</label>
                <select ng-model="selectedFilteredItemsModel"
                        value="$$value$$"
                        ng-model-options="form.ngModelOptions"
                        ng-disabled="form.readonly"
                        sf-changed="form"
                        class="form-control {{form.fieldHtmlClass}}"
                        schema-validate="form"
                        ng-options="item as item.name for item in form.selectedFilteredItems"
                        name="selectedItems"
                        size=30 style="height: 60%;"
                        multiple>
                </select>
            </div>
        </div>

        <div class="help-block" sf-message="form.description"></div>
    </div>
    <!--<div class="col-md-4">-->
        <!--<a add-modal-for-linked-model>-->
            <!--<i class="fa fa-plus-circle fa-fw"></i>-->
        <!--</a>-->
    <!--</div>-->
</div>