<table class="table table-bordered" style="background-color:#fff;">
    <thead>
    <tr>
        <th colspan="2">
            <label>
                <input type="checkbox" style="zoom:1.5; margin:5px 0 0 8px;">
                Hepsini Seç
            </label>
        </th>
        <th ng-repeat="(key,value) in node.form">{{ value }}</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody ng-class="{true: '', false: 'hidden'}[node.lengthModels > 0]">
    <tr>
        <td width="60">
            <label>
                <input type="checkbox" style="zoom:1.5; margin:5px 0 0 8px;">
            </label>
        </td>
        <th scope="row" style="text-align:center">1</th>
        <td ng-repeat="value in node.model">{{ value }}</td>
        <td>
            <button modal-for-nodes="{{node.title}},ListNode">Edit</button><br>
            <button>Show</button>
            <button>Delete</button>
        </td>
    </tr>
    </tbody>
</table>