<div class="form-group {{form.htmlClass}} schema-form-select" ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false}">
    <label class="control-label {{form.labelHtmlClass}}" ng-show="showTitle()">
        {{form.title}}
    </label>
    <div class="select-wrapper {{form.fieldHtmlClass}}">
        <ui-select
                ng-model="$$value$$"
                title="{{form.title}}"
                ng-model-options="form.ngModelOptions"
                sf-changed="form"
                schema-validate="form"
                ng-disabled="form.readonly"
                theme="bootstrap"
                name="{{form.key.slice(-1)[0]}}"
                id="{{form.key.slice(-1)[0]}}">
            <ui-select-match placeholder="">{{$select.selected.value.name}}</ui-select-match>
            <ui-select-choices repeat="item.value.value as (key, item) in form.titleMap | filter: $select.search">
                <span ng-bind-html="item.value.name | highlight: {value : { name: $select.search } } "></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="help-block" sf-message="form.description"></div>
</div>