<div class="tablescroll">
    <table class="table table-bordered" style="background-color:#fff;">
        <thead>
        <tr ng-if="node.schema.formType=='ListNode'">
            <th colspan="2" ng-if="meta.allow_selection===true">
                <label>
                    <input type="checkbox" style="zoom:1.5; margin:5px 0 0 8px;">
                    Hepsini Seç
                </label>
            </th>
            <th scope="row" style="text-align:center">#</th>
            <th ng-repeat="(key,value) in node.items[0] track by $index"
                ng-if="key!=='idx' && node.schema.properties[key]">
                <span ng-if="value.verbose_name">{{ value.verbose_name }}</span>
                <span ng-if="!value.verbose_name">{{key}}</span>
            </th>
            <th ng-if="meta.allow_actions!==false">İşlem</th>
        </tr>
        </thead>
        <tbody ng-class="{hidden: node.lengthModels < 1}">

        <tr ng-repeat="listnodemodel in node.items track by $index"
            ng-init="outerIndex=$index"
            ng-if="node.schema.formType=='ListNode'">
            <td ng-if="meta.allow_selection===true" width="60">
                <label>
                    <input type="checkbox" style="zoom:1.5; margin:5px 0 0 8px;">
                </label>
            </td>
            <td scope="row" style="text-align:center">{{$index+1}}</td>
            <td ng-repeat="(k, v) in listnodemodel track by $index"
                ng-init="innerIndex=$index"
                ng-if="k!=='idx' && node.schema.properties[k]">
                <span ng-if="!node.schema.inline_edit || node.schema.inline_edit.indexOf(k) < 0">{{ v.unicode || v }}</span>
                <input type="{{node.schema.properties[k].type}}"
                       ng-if="node.schema.inline_edit.indexOf(k) > -1"
                       ng-model="node.model[outerIndex][k]"
                       ng-change="nodeModelChange(this)">
            </td>
            <td ng-if="meta.allow_actions!==false">
                <div ng-hide="meta.object_actions.length > 0">
                    <span ng-click="remove(node, 'ListNode', $index)"><i class="fa fa-times fa=fw"></i></span>
                </div>
                <div ng-show="meta.object_actions.length > 0">
                    <!-- define object actions here -->
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>